:root {
    --color-text-article: rgb(83, 83, 83);
    --color-background-article: #F7F7F7;
}

div.logo {
    max-width: 60rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 55px;
}


h1 {
    text-align: center;
    font-size: 3.2rem;
    max-width: 35rem;
    margin: 1rem auto;
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 1.3em;
    color: green;
}

hr {
    display: block;  
    border-top: 1px solid #ccc;
    max-width: 8rem;
    margin-top: 50px;
    margin-bottom: 35px;

}

h2, h3 {
    max-width: 35rem;
    margin: 1rem auto;
    font-family: Montserrat;
    
}
h2.linhafina {
    max-width: 30rem;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    font-weight: 600;
    line-height: 1.2rem;
}

time.datetime {
    display:block;
    text-align: center;    
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 100; 
    letter-spacing: 0.1rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3.chapeu {
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 100; 
}

a {
    color: var(--color-text-article);    
}

p{
    max-width: 40rem;
    margin: 1rem auto;
    font-size: 1rem;
    font-family: Montserrat;
    line-height: 1.5rem;
    line-height: 1.8rem;
    color: var(--color-text-article);
}

article.corpo p:last-child {
    padding-bottom: 2rem;
}

address.author {
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    color:black;
}

address.author strong {
    text-decoration: underline;
    color: black;
}

img {
    width: 100%;
}

article.corpo {
    background-color: var(--color-background-article);
    padding: 1rem;
    padding-top: 3rem;
    color: black;
}

.chapeu, .linhafina {
    text-align: center;
}

img.mapaAL {
    display: block;
    max-width: 40rem;
    width: 100%;
    margin: 0 auto;
}

.tabela {
    width: 400px
    border: 3px solid var(var(--color-text-article);
    padding: 1rem;
}

.tabela {

    width: 400px;
    border: 5px solid black;
    padding: 0;
    margin: 0 auto;
    margin-top: 1rem;

}

.lista-paises {
    font-family: Montserrat;
}

.nome-categoria {

    margin: 0; 
    font-weight: bolder;
    padding: .5em 1em;
}

.autorizado {
    border-color: rgb(34, 78, 114);
}

.autorizado > .nome-categoria {
    background-color: rgb(34, 78, 114);
    color: white;
    font-style: bold;
}

.motivo-social {
    border-color: rgb(138, 181, 216);
}

.motivo-social > .nome-categoria {
    background-color: rgb(138, 181, 216);
    color: white;
    font-style: bold;
}

.saude {
    border-color: rgb(241, 173, 110);
}

.saude > .nome-categoria {
    background-color: rgb(241, 173, 110);
    color: white;
    font-style: bold;
}

.vida-mulher {
    border-color: rgb(134, 46, 4);
}

.vida-mulher > .nome-categoria {
    background-color: rgb(134, 46, 4);
    color: white;
    font-style: bold;
}

.totalmente-proibido {
    border-color: firebrick;
}

.totalmente-proibido > .nome-categoria {
    background-color: firebrick;
    color: white;
    font-style: bold;
}

@media (max-width: 600px) {

    h1 {
        font-size: 2rem;
    }


}