:root {
    --color-text-article: rgb(83, 83, 83);
    --color-background-article: #F7F7F7;
}

div.logo {
    max-width: 60rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 55px;
}


h1 {
    text-align: center;
    font-size: 3.2rem;
    max-width: 35rem;
    margin: 1rem auto;
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 1.3em;
    color: green;
}

hr {
    display: block;  
    border-top: 1px solid #ccc;
    max-width: 8rem;
    margin-top: 50px;
    margin-bottom: 35px;

}

h2, h3 {
    max-width: 35rem;
    margin: 1rem auto;
    font-family: Montserrat;
    
}
h2.linhafina {
    max-width: 30rem;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    font-weight: 600;
    line-height: 1.2rem;
}

time.datetime {
    display:block;
    text-align: center;    
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 100; 
    letter-spacing: 0.1rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3.chapeu {
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 100; 
}

a {
    color: var(--color-text-article);    
}

p{
    max-width: 40rem;
    margin: 1rem auto;
    font-size: 1rem;
    font-family: Montserrat;
    line-height: 1.5rem;
    line-height: 1.8rem;
    color: var(--color-text-article);
}

article.corpo p:last-child 
    padding-bottom: 2rem;
}

article.corpo p:nth-child(3) 
    padding-bottom: 2rem;
}

address.author {
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    color:black;
}

address.author strong {
    text-decoration: underline;
    color: black;
}

img {
    width: 100%;
}

article.corpo {
    background-color: var(--color-background-article);
    padding: 1rem;
    padding-top: 3rem;
    color: black;
}

.chapeu, .linhafina {
    text-align: center;
}

div.mapa {
    max-width:50%;
	height: auto;
    display: center;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 600px) {

    h1 {
        font-size: 2rem;
    }

}